[Unit]
Description=HP Server Fan Speed Controller

[Service]
ExecStart=/bin/bash /autofan.sh 
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
